@use '../../../scss/variables' as variable;
@use '../../../scss/mixins' as mixin;

.users-container {
  padding: 30px 0px;
  .card{

  .card-title {
    background-color: variable.$blue-light;
    text-decoration: none;
  }
  .user-details {

    display:inline-block;

    .list-group-item {
      border:none;
      color: variable.$white;
      background-color: variable.$blue-secondary;
    }
  }
}
}
