$company-primary: #1a2650;
$orange-primary: #f9a21c;
$white: #fff;
$black: #000;

// header and footer
$header-background: #021d27;
$footer-background: #f8f8f8;
$footer-copy-right-border: #f1ecec;

// blue
$blue-primary: #0059a7;
$blue-secondary: #0967b9;
$blue-light: #63d4f7;

// grey
$grey-first: #1b2426;
$grey-second: #333;
$grey-third: #343434;
$grey-fourth: #3c3c3c;
$grey-fifth: #454545;
$grey-six: #626262;
$grey-seven: #707070;
$grey-eight: #939393;

// light rey
$light-grey: #efefef;

// blue grey
$blue-grey: #38435d;

// gradient color
$orange-gradient: transparent linear-gradient(78deg, #f99a01 0%, #f9a21c 46%, #f4ab2e 62%, #f2b037 76%, #f9b44b 100%) 0%
  0% no-repeat padding-box;
